html {
  position: relative;
  min-height: 100%; 
  }
  
  :root {
    font-size: 16px;
}

body {
  margin-bottom: 90px; 
  margin: 0;
   padding: 0;
background-color: #F0FFFF;
position: relative;

  }
  
  .nav{
				background-color: #00C9B1;

			}
  
  .nav > li > a {
				color: #020205;
			}
			
ul > li :hover {
				text-decoration: none !important;
				background-color: white;
				color: #020205;
			}
   
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
	back{
		background-color: black;
	}
	


